/* style.css */

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #333;
}

.content {
    padding: 20px 0;
}

.project-details {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    color: #555;
    line-height: 1.6;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

footer img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}




